html, body {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0;
  padding: 0;
  padding-bottom: 50px;
  max-width: 800px;

  font-size: 16pt;
}

.header {
  width: 100vw;
  color: white;
  background-color: black;
}

.content {
  padding: 10px;
}

.header-title {
  padding: 20px;
  font-size: 32px;
}

.status {

}

.status-bar {
  margin-top: 5px;
}

.question-status-item {
  display: inline-block;
  width: 20px;
  height: 20px;
  box-shadow: 0 0 0 4px black inset;
  margin-right: 2px;
  border-radius: 10px;
}

.question-status-item.active {
  background-color: rgb(41, 215, 41);
}
.question-status-item.done {
  background-color: black;
}
.question-status-item.todo {

}

.instructions {
  margin-top: 10px;
}

.question {
  margin-top: 10px;
}

.question-description {
  margin-top: 10px;
}

.question-answers {
  width: 100%;
  height: 50px;
}

.question-answer {
  padding: 5px 10px;
  margin-top: 10px;
  display: inline-block;
  text-align: center;

  cursor: pointer;
  user-select: none;

  border: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black; 
  border-right: 2px solid black;
  border-style: inset;
}

.question-answer-true {
  float: left;
}
.question-answer-false {
  float: right;
}

.answers {
  margin-top: 20px;
}

.answer {
  
}

.title {
  font-weight: bold;
  cursor: pointer;
  user-select: none;
  background-color: rgb(192, 192, 192);
}

.answers-table {
  margin-top: 10px;
}

.contradictions {
  margin-top: 20px;
}

.contradictions-table {
  margin-top: 10px;
}

.answers-downloader {
  display: inline-block;
  cursor: pointer;
  outline: none;
  border-radius: 0;
  box-shadow: 0;
  padding: 4px;
  margin: 10px 0;
  background-color: lightgray;
  font-size: inherit;
  text-decoration: none;
  color: inherit;
  border: none;
  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black; 
  border-right: 2px solid black;
  border-style: inset;
}

.restart {
  display: block;
  cursor: pointer;
  /* font-weight: bold; */
  outline: none;
  border-radius: 0;
  box-shadow: 0;
  padding: 4px;
  margin: 10px 0;
  background-color: lightgray;
  font-size: inherit;

  border-top: 2px solid white;
  border-left: 2px solid white;
  border-bottom: 2px solid black; 
  border-right: 2px solid black;
  border-style: inset;
}

.quote {
  box-shadow: 4px 0 0 0 gray inset;
  padding-left: 10px;
  font-style: italic;
  line-height: 120%;
  /* margin-left: 4px; */
}

.hidden {
  display: none;
}

table, th, td {
  text-align: left;
  vertical-align: top;
  border: 1px solid black;
  border-collapse: collapse;
  line-height: 120%;
}
th {
  border-bottom: 4px solid black;
}

td, th {
  /* width: 500px; */
  padding: 10px;
}

.true { font-weight: bold; color: blue; }
.false { font-weight: bold; color: red; }